body {
    background-color: #FCC5C0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btns {
    width: 600px;
    margin-top: 18.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 33.33333333%;
}

.button, .buttonGO {
    width: 100px;
    height: 100px;
    border-radius: 3%;
    background-color: beige;
    font-size: large;
}

.buttonGO{
    background-color: bisque;
}
.button:focus {
    background-color: #937DC2;
}


#canvas {
    margin-top: 5%;
    border-radius: 3%;
}

p {
    text-align: center;
}